@import "nullstyle.scss";
// Circe 400 700 regular bold
@import url('http://fonts.cdnfonts.com/css/circe');

//@media (max-width: 1200px){
//  .frame{
//    max-width: 970px;
//  }
//}
@media (max-width: 1020px){
  .frame{
    max-width: 750px;
  }
}
@media (max-width: 767px){
  .frame{
    max-width: none;
  }
}
$minWidth: 320px;
$maxWidth: 1390;
$maxWigthFrame: 1390;
$md1: $maxWigthFrame +12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;


//.wrapper{
//  width: 100%;
//  min-height: 100%;
//  overflow: hidden;
//  display: flex;
//  flex-direction: column;
//  &.loaded{}
//}


.frame{
  padding: 0 5px;
  width: 100%;
  max-width: $maxWigthFrame + px;
  margin: 0 auto;

  //@media (max-width: $md1+px) {
  //  max-width: 750px;
  //}
  @media (max-width: $md2+px) {
    max-width: none;
    padding: 0 10px;
  }
}
.container{
  max-width: 1180px;
  margin: 0 auto;
}


.circe18{
  a{
    color: #263057;
    font-family: Circe;
    font-weight: 400;
    font-size: 18px;
    line-height: 26.53;
  }
}
.button{
  a{
    font-family: Circe;
    font-weight: 400;
    font-size: 15px;
    line-height: 22.11px;
    color: white;
    background: #6984F0;
    border-radius: 30px;
    padding: 8px 30px 8px 30px;
  }
}




.header{

.header__frame{


.header__container {
  height: 146px;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media(max-width: $md2+px){
    height: 76px;
  }
  }
}
  .header__logo{
    @media(max-width: 1200px){
      flex: 00 86px;
      height: 86px;
      overflow: hidden;
      img{
        margin-top: 10px;
        max-width: 100%;
      }
    }
  }

  .header__button-opl {
    a {background: #263057;}
    @media(max-width: $md2+px){
      display: none;
    }
  }

  .header__button-lk{
    @media(max-width: $md2+px){
      display: none;
    }
  }

  .header__icon-menu{
      display: none;
    @media(max-width: $md2+px){
      display: block;
    }
  }

  .header__text{
  @media(max-width: $md2+px){
    display: none;
  }
}


}




.rectangle1__frame{
  max-height: 536px;
  width: 100%;
  height: 100%;
  background: linear-gradient(136.49deg, #263057 25.34%, #1D1444 89.06%);
  align-items: center;
}
.rectangle1__container{
  max-width: 1180px;
  max-height: 450px;
  background: white;
  width: 100%;
  height: 100%;
  border-radius: 15px;

  display: flex;
  align-items: center;
  justify-content: space-around;
  .rectangle1__text{
    .rectangle1__head1 {
        font-family: Circe;
        color: #253058;
        font-weight: 700;
        font-size: 62px;
        line-height: 55.8px;
      }
    .rectangle1__head2 {
      font-family: Circe;
      color: #253058;
      font-weight: 400;
      font-size: 44px;
      line-height: 39.6px;
      margin-bottom: 30px;
    }
  }


}