@charset "UTF-8";
/*Обнуление*/
@import url("http://fonts.cdnfonts.com/css/circe");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@media (max-width: 1020px) {
  .frame {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  .frame {
    max-width: none;
  }
}
.frame {
  padding: 0 5px;
  width: 100%;
  max-width: 1380px;
  margin: 0 auto;
}
@media (max-width: 991.98px) {
  .frame {
    max-width: none;
    padding: 0 10px;
  }
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 10px 0;
}

.head h1 {
  font-family: Circe;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  color: #263057;
}
@media (max-width: 767.98px) {
  .head h1 {
    font-size: 25px;
  }
}

.circe18 a {
  color: #263057;
  font-family: Circe;
  font-weight: 400;
  font-size: 18px;
  line-height: 26.53;
}

.circe20 a {
  font-family: "Circe";
  font-weight: 400;
  font-size: 20px;
  color: #263057;
}
@media (max-width: 767.98px) {
  .circe20 a {
    font-size: 14px;
  }
}

.button a {
  font-family: Circe;
  font-weight: 400;
  font-size: 15px;
  line-height: 22.11px;
  color: white;
  background: #6984F0;
  border-radius: 30px;
  padding: 8px 30px 8px 30px;
}

.header .header__frame .header__container {
  height: 146px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 991.98px) {
  .header .header__frame .header__container {
    height: 76px;
  }
}
@media (max-width: 1200px) {
  .header .header__logo {
    flex: 0 86px;
    height: 86px;
    overflow: hidden;
  }
  .header .header__logo img {
    margin-top: 10px;
    max-width: 100%;
  }
}
.header .header__button-opl a {
  background: #263057;
}
@media (max-width: 991.98px) {
  .header .header__button-opl {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .header .header__button-lk {
    display: none;
  }
}
.header .header__icon-menu {
  display: none;
}
@media (max-width: 991.98px) {
  .header .header__icon-menu {
    display: block;
  }
}
@media (max-width: 991.98px) {
  .header .header__text {
    display: none;
  }
}

.rectangle1 .rectangle1__frame {
  height: 536px;
  background: linear-gradient(136.49deg, #263057 25.34%, #1D1444 89.06%);
  display: flex;
  align-items: center;
  padding: 0 15px;
}
@media (max-width: 767.98px) {
  .rectangle1 .rectangle1__frame {
    height: 581px;
  }
}
.rectangle1 .rectangle1__container {
  height: 450px;
  background: white;
  width: 100%;
  border-radius: 20px;
  padding-top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 767.98px) {
  .rectangle1 .rectangle1__container {
    height: 537px;
  }
}
.rectangle1 .rectangle1__body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: url("../img/user-background.png") no-repeat;
  background-position: top right;
  margin: -2px -3px 0 -2px;
}
@media (max-width: 767.98px) {
  .rectangle1 .rectangle1__body {
    background: url("../img/user-background-mobile.png") no-repeat;
    background-position: -5% 50%;
    height: 537px;
    flex-direction: column;
    margin: 0 0 0 -2px;
  }
}
.rectangle1 .rectangle1__text {
  padding-left: 50px;
}
@media (max-width: 767.98px) {
  .rectangle1 .rectangle1__text {
    order: 1;
    padding: 0;
    text-align: center;
  }
}
.rectangle1 .rectangle1__head1 {
  font-family: Circe;
  color: #253058;
  font-weight: 700;
  font-size: 62px;
  line-height: 55.8px;
}
@media (max-width: 991.98px) {
  .rectangle1 .rectangle1__head1 {
    font-size: 40px;
    line-height: 30px;
    margin-top: 10px;
  }
}
.rectangle1 .rectangle1__head2 {
  font-family: Circe;
  color: #253058;
  font-weight: 400;
  font-size: 44px;
  line-height: 39.6px;
  margin-bottom: 30px;
}
@media (max-width: 991.98px) {
  .rectangle1 .rectangle1__head2 {
    font-size: 40px;
    margin-bottom: 20px;
  }
}
.rectangle1 .rectangle1__scroll {
  align-self: end;
  margin-bottom: 42px;
}
@media (max-width: 767.98px) {
  .rectangle1 .rectangle1__scroll {
    order: 3;
    margin-bottom: 18px;
    align-self: center;
  }
}
@media (max-width: 767.98px) {
  .rectangle1 .rectangle1__image img {
    max-height: 357px;
  }
}
@media (max-width: 500px) {
  .rectangle1 .rectangle1__image img {
    height: 300px;
  }
}
.rectangle1 .rectangle1__images {
  order: 2;
}

.tariff .tariff__frame {
  height: 790px;
  background: #E5E5E5;
}
.tariff .tariff__container {
  background: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  height: 600px;
}
.tariff .tariff__header {
  padding: 50px 0 25px 0;
}
@media (max-width: 767.98px) {
  .tariff .tariff__header {
    padding: 40px 0 10px 0;
  }
}
.tariff .tariff__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tariff .tariff__tariffs {
  flex-wrap: wrap;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767.98px) {
  .tariff .tariff__tariffs {
    line-height: 20px;
    height: 110px;
  }
}
.tariff .tariff__tariffs .tariff__link_bold {
  margin-right: 80px;
  border-bottom: 2px solid #6984F0;
  font-weight: 700;
}
@media (max-width: 767.98px) {
  .tariff .tariff__tariffs .tariff__link_bold {
    margin-right: 20px;
  }
}
.tariff .tariff__tariffs .tariff__link_img {
  padding-right: 96px;
  background: url("../img/xit-blue.png") no-repeat;
  background-position: 87% 0;
}
@media (max-width: 460px) {
  .tariff .tariff__tariffs .tariff__link_img {
    padding-right: 50px;
    background-position: 100% 0;
  }
}
.tariff .tariff__tariffs .tariff__link_3 {
  margin-right: 40px;
}
@media (max-width: 767.98px) {
  .tariff .tariff__tariffs .tariff__link_3 {
    margin-right: 20px;
  }
}
.tariff .tariff__scroll {
  margin-bottom: 35px;
}
@media (max-width: 767.98px) {
  .tariff .tariff__scroll {
    margin-bottom: 27px;
  }
}

.cards {
  display: flex;
  padding: 0 40px;
  margin-bottom: 35px;
  margin: 0 -10px 35px -10px;
}
@media (max-width: 1040px) {
  .cards {
    margin: 0 -10px 0px -10px;
    overflow: auto;
    padding: 20px 0 27px 0;
  }
}
.cards .card {
  height: 323px;
  width: 20%;
  padding: 55px 20px 0 20px;
}
@media (max-width: 900px) {
  .cards .card {
    min-width: 228px;
  }
}
@media (max-width: 767.98px) {
  .cards .card {
    order: 2;
  }
}
.cards .card .card__line {
  border-bottom: 1px solid rgba(38, 48, 87, 0.2);
  width: 95%;
  margin-bottom: 15px;
  overflow: hidden;
}
.cards .card_black {
  background: url("../img/white-xit.png") 14% 7% no-repeat, linear-gradient(180deg, #273158 0%, #0C244D 100%);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.45);
  border-radius: 30px;
  color: white;
}
@media (max-width: 767.98px) {
  .cards .card_black {
    order: 1;
    margin-left: 20px;
  }
}
.cards .card_black .card__price p {
  color: white;
}
.cards .card_black .card__price h3 {
  color: white;
}
.cards .card_black .card__line {
  border: 1px solid #6984F0;
}
.cards .card__head h3 {
  font-family: "Circe";
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
}
.cards .card__speed {
  font-family: "Circe";
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  background: url("../img/blue-speed.png") no-repeat;
  padding: 0 0 0 30px;
}
@media (max-width: 970px) {
  .cards .card__speed {
    padding: 0 0 0 26px;
  }
  .cards .card__speed h4 {
    font-size: 22px;
  }
}
.cards .card__info {
  font-family: "Circe";
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  margin-bottom: 20px;
}
.cards .card__price {
  margin-bottom: 15px;
}
.cards .card__price h3 {
  font-family: "Circe";
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
  color: #263057;
  display: inline-block;
  margin-right: 7px;
}
.cards .card__price p {
  font-family: "Circe";
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #263057;
  display: inline-block;
}
.cards .card__button a {
  font-family: Circe;
  font-weight: 400;
  font-size: 15px;
  line-height: 22.11px;
  color: white;
  background: #6984F0;
  border-radius: 30px;
  padding: 5% 25%;
}

/*# sourceMappingURL=style.css.map */
